* {
  font-size: 14px;
  font-family: "SF Pro SC","HanHei SC","SF Pro Text","Myriad Set Pro","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial","sans-serif";
}
body {
  min-height: 1000px;
  min-width: 300px;
}
li {
  list-style-type: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}


@media screen and (max-width: 767px) {
  .navbar-brand {
    position: absolute;
    left:50%;
    margin-left: -50px;
  }
  #collapseBtn {
    float: left;
    margin-left: 2rem;
  }
}

.navbar {
  background:rgb(51,51,51);
  border-radius: 0px;
  color: rgb(255, 255, 255);
}
.container-fluid {
  background:rgb(51,51,51);
  max-width: 980px;
}

.navbar-nav {
  margin-left: 5rem;
}
/*.navbar-nav{
  visibility: hidden;
}*/
.navbar-nav .nav-item {
  width: 120px;
  text-align: center;
}
.searchicon {
  line-height: 50px;
  margin: 0;
  padding: 0;
}
.searchicon .glyphicon-search {
  vertical-align: middle;
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

.nav-item span, .navbar-header span {
  color: rgb(255, 255, 255);
  transition: color 0.3s;

}

.navbar-header a:hover span,.nav-item a:hover span,.navbar-form a:hover span {
  color: rgb(183,183,183);
  transition: color 0.3s;
}

.search {
  position: absolute;
  left: 50%;
  margin-left: -150px;
  color: rgb(255, 255, 255);
}

#searchBtn {
  outline: none;
}

/*轮播图*/
.slider-wrapper {
  width: 100%;
  margin: 0;
}

/*content*/
.item {
  height: 40rem;
  text-align: center;
  background: rgb(250, 250, 250) content-box;
  padding: 1rem 0.4rem;
  cursor: pointer;
}
.item img {
  margin-top: 5rem;
}

/*footer*/
#footer {
  background: rgb(242, 242, 242);
  padding-top: 20px;
  padding-bottom: 0px;
}
.centered-wrapper {
  max-width: 1000px;
  margin: 10px auto;
}

.footer1 h3{
  font-size: 2rem;
}
.footer1 a {
  font-size: 1rem;
  color: black;
}
.footer2 {
  margin-top: 50px;
}
.clear {clear: both;}

#bottomfooter {
  margin-top: 40px;
  padding: 5px 0;
  text-align: center;
  background: rgb(51, 51, 51);
}
#bottomfooter p,#bottomfooter a {
  font-size: 0.5rem;
  color: rgb(158, 177, 194);
  margin: 0;
}
#bottomfooter a {
  color: rgb(1, 88, 33);
}
#bottomfooter a:hover {
  color: green;
}
